{% extends 'base.html.twig' %}

{% block title %}List Employees{% endblock %}
{% block stylesheets %}
    {{ parent() }}

<style>
    h1{
        margin-bottom:10px;
    }
    .table{
        border:1px solid #666666;
    }
    .table_row{
        width:100%;
        display:table;
        table-layout: fixed;
    }
    .table_row div{
        display:table-cell;
    }
    .table_cell{
        border:1px solid #666666;
        padding:5px;
    }
    .table_header{
        background-color:#000;
        color:#fff;
    }
    button{
        min-width:31%;
    }
</style>

{% endblock %}

{% block body %}

    {{ dump() }}

    <div class="container-fluid">

        <div class="container">

            <h1>List page</h1>

            <div class="table">
                <div class="table_row table_header">
                    <div class="table_cell">ID</div>
                    <div class="table_cell">Name</div>
                    <div class="table_cell">Surname</div>
                    <div class="table_cell">Position</div>
                    <div class="table_cell">Controllers</div>
                </div>

                {%for employee in employees %}
                    <div class="table_row">
                        <div class="table_cell">{{ employee.id }}</div>
                        <div class="table_cell">{{ employee.name }}</div>
                        <div class="table_cell">{{ employee.surname }}</div>
                        <div class="table_cell">{{ employee.position }}</div>
                        <div class="table_cell">
                            <button class="btn-default">Edit</button>
                            <a href="list/{{ employee.id }}"> <button class="btn-success">Details</button></a>
                            <a href=list/delete/{{ employee.id }}"> <button class="btn-danger">Delete</button></a>
                        </div>
                    </div>
                {% endfor %}

            </div>



        </div>


    </div>

{% endblock %}

